*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html body{
    height: 100%;
    width: 100%;
}
body{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 400px;
    width: 300px;
    background-color: aliceblue;
    border-radius: 10px;
    text-align: center;
    padding: 5%;
    position: absolute;
    /* right: 0px; */
    
}